/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    line-height: 1.6;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #1e1e1e;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: #00aaff;
    text-decoration: none;
}

/* HERO (PROFILE BACK IN PLACE) */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 80px;
}

.hero-image img {
    width: 300px;
    border-radius: 12px;
    border: 3px solid #00aaff;
    box-shadow: 0 0 25px rgba(0,170,255,0.3);
}

/* TEXT */
.hero-text h1 {
    font-size: 3rem;
}

.hero-text h2 {
    color: #00aaff;
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00aaff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.btn-outline {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #00aaff;
    color: #00aaff;
    border-radius: 6px;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 60px 50px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 25px;
    color: #00aaff;
}

/* PROJECTS */
.project-card {
    background: #1e1e1e;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
}

/* SKILLS hover effect */
.skills-box div{background: #000;
    color: 111;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-box div {
    background: #1e1e1e;
    padding: 15px 18px;
    border-radius: 8px;
    transition: 0.3s; 
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1e1e1e;
    margin-top: 40px;
}

/* MODAL */
.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:flex;
    justify-content:center;
    align-items:center;
}

.box{
    background:#1e1e1e;
    padding:25px;
    border-radius:12px;
    text-align:center;
    width:300px;
}

.hidden{
    display:none;
}